@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}
/* general styles */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.btn {
  font-size: 1.9rem;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #000;
  text-align: center;
  padding: 0.7%;
  background-color: rgb(81, 212, 255);
  color: #000;
  margin-bottom: 2%;
}
.btn:hover {
  color: rgb(206, 56, 22);
  background-color: rgb(81, 212, 255);
  transition: 0.1s;
}

/* specific styles */
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(at bottom right, dodgerblue 0, dodgerblue 1em, lightskyblue 1em, lightskyblue 2em, deepskyblue 2em, deepskyblue 3em, gainsboro 3em, gainsboro 4em, lightsteelblue 4em, lightsteelblue 5em, deepskyblue 5em, deepskyblue 6em, lightskyblue 6em, lightskyblue 7em, transparent 7em, transparent 8em), radial-gradient(at top left, transparent 0, transparent 1em, lightskyblue 1em, lightskyblue 2em, deepskyblue 2em, deepskyblue 3em, lightsteelblue 3em, lightsteelblue 4em, gainsboro 4em, gainsboro 5em, deepskyblue 5em, deepskyblue 6em, skyblue 6em, skyblue 7em, dodgerblue 7em, dodgerblue 8em, transparent 8em, transparent 20em), radial-gradient(circle at center bottom, coral, darkslateblue);
  background-blend-mode: overlay;
  background-size: 8em 8em, 8em 8em, cover;
}
main h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #000;
  margin-bottom: 2%;
  margin-top: 2%;
}
main #inputFelder {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}
main #inputFelder label {
  font-size: 1.8rem;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #000;
  margin-bottom: 3.2%;
}
main #inputFelder input {
  font-size: 1.8rem;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #000;
  background-color: rgb(190, 231, 255);
  border: 0.5px solid #000;
  margin-bottom: 3.2%;
}
main h3 {
  font-size: 2rem;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #000;
  text-align: center;
  margin-bottom: 1.5%;
}
main #radioBtn {
  font-size: 1.8rem;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #000;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}
main #aktivitaet {
  text-align: center;
  margin-bottom: 2%;
}
main #aktivitaet h2 {
  font-size: 2rem;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #000;
  text-align: center;
  margin-bottom: 1.5%;
}
main #aktivitaet select {
  font-size: 1.8rem;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #000;
  background-color: rgb(190, 231, 255);
  width: 30%;
  border: 0.5px solid #000;
}
main table {
  font-size: 1.6rem;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #000;
  background-color: rgb(190, 231, 255);
  margin-bottom: 2%;
  width: 27%;
}
main table tr td {
  border: 0.5px solid #000;
}
main table tr .dunkler {
  background-color: rgb(76, 156, 202);
}
main table tr .heller {
  background-color: rgb(190, 231, 255);
}
main p {
  font-size: 1.3rem;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #000;
  width: 30%;
  text-align: left;
  margin-bottom: 2%;
}

/*# sourceMappingURL=style.css.map */
